:root{
    --primary:#643A71;
    --secondary:#7067CF;
    --accent:#CBF3D2;
    --background:#F5F0F6;
    --regFont: 'Hind', sans-serif;;
    --headFont: 'Barriecito', cursive;;
    --listFont:'Bebas Neue', sans-serif;;
    }
    
    
*{
 
   font-family:var(--regFont);
   border-radius:15px;
}
body{
    background-color:var(--background);
}
header{
    display: flex;
    text-align: center;
    justify-content: center;
}
header h1{
    font-family: var(--headFont);
    color:var(--primary);
    font-size:5em;
}
header img{
    width:50px;
    height:fit-content;
    position:fixed;
    left:0px;
    z-index:1;
}
li{
    font-family:var(--listFont);
}
.features{
    text-align:center;
    padding:15px 20px;
}
.features .btn{

}
.categories{
    margin:1% auto;
    width:65%;
}

.containerQuiz{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.containerQuiz h2{
    font-size:4em;
}

.containerQuiz .options li{
    padding:10px;
    font-size:2em;
    margin:10% 0;
}
.containerQuiz .options li:hover{
    color:white;
    border:1px solid white;
    background-color:red;
}

.complete{
    width:fit-content;
    background-color:black;
    color:white;
    padding:15px;
    animation: rigth 3s forwards ease-in-out ;
}  


.wrong{
    color:red;
}

.infoArt{
    display:flex;
    margin:5% auto;
    margin-bottom:10%;
    border:1px solid #95B8D1;
    padding:2%;
    width:80%;
    background-color: #B8E0D2;
    justify-content: space-around;
}
.infoArt p{
    font-size:1.5em;
    color:white;
    width:fit-content;
    /* margin:auto 170px; */
}

#complete {
    display:none;
}

footer{
    width:fit-content;
    border:5px solid var(--secondary);
    padding:10px 20px;
    margin:0 auto;
    background-color:#CBF3D2;
}
footer h2{
    color:var(--primary);
    text-align: center;
    font-size:2em;
    margin:15px;
}
footer nav li{
    list-style-type:none;
    display:inline;
    margin:150px;
    color:white;
    border:2.5px solid var(--secondary);
    background-color:#B7C0EE;
    padding:2px 5px;
    border-radius:8px;
}
footer nav li:hover,footer nav a:hover{
    filter: brightness(50%);
}
footer a,footer a:hover{
    text-decoration:none;
    color:inherit
}

/* Animation for right/wrong and complete */
@keyframes rigth {
    0%{
        width:0
        
    }
    25%{
        width:0
    }
    50%{
        width:0
    }
    75%{
        width:0
    }
    100%{
        width:fit-content

    }

}


@keyframes wrong {
    
}

@keyframes complete {
    
}

/* Media Queries */

@media only screen and (max-width:991px) and (min-width:768px){
    /* tablet */
    }
    
    
    @media only screen and (max-width: 767px){
    /* phone */
    /* make carousel vertical*/
    }

    