/* external css: flickity.css */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel {
    margin:5%;
    background: #EEE;
    width: 85%;
    height: 800px;
}

.carousel-cell {
    margin:6% auto;
    width: 60%;
    height: 600px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
}
#test {
    background-image: url("/Images/js.png");
    background-size: cover;
    background-repeat: no-repeat;
}


#failureDiv,#sucessDiv{
    display: none;
}
.RedeptionDiv,.RiskDiv{
    margin-top:2%;
}